<div class="products-list-wrapper">
    <% if (cart.length <= 0) { %>
    <tr>
        <td colspan="3">Carrito vacío.</td>
    </tr>
    <% } else { %>
        <table class="tg cart-list">
            <thead>
              <tr>
                <th class="tg-0pky">Imágen</th>
                <th class="tg-0pky">Título</th>
                <th class="tg-0pky">Precio</th>
                <th class="tg-0pky">Código</th>
              </tr>
            </thead>
            <tbody>
                <% cart.forEach(function(cartProduct) { %>
                    <tr>
                        <td class="tg-0pky"><img class="product-image" src=<%= cartProduct.thumbnail %> /></td>
                        <td class="tg-0pky"><p><%= cartProduct.title %></p></td>
                        <td class="tg-0pky"><p>$<%= cartProduct.price %></p></td>
                        <td class="tg-0pky"><p><%= cartProduct.codigo %></p></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <button onclick="return handleFinishBuy('<%= cartId %>', '<%= user %>', '<%= email %>')">Finalizar compra</button>
    <% } %>
</div>