<div class="products-list-wrapper">
    <% if (products.length <= 0) { %>
    <tr>
        <td colspan="3">No hay productos</td>
    </tr>
    <% } else { %>
        <div class="products-list">
            <% products.forEach(function(product) { %>
                <div class="product">
                    <img class="product-image" src=<%= product.image %> />
                    <p><%= product.title %></p>
                    <p><%= product.price %></p>
                    <button onclick="return handleOnClicCart('<%= product.codigo %>', '<%= cartId %>')">Agregar al carrito</button>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>